/*#1DB954*/
/*#1DB954*/
.message_parent {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.success {
    box-sizing: border-box;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: rgb(193 53 132) 50%/cover padding-box;
    color: white;
    text-align: center;
    line-height: 200px;
    position: relative;
}

.success:before {
    position: absolute;
    width: 220px;
    height: 220px;
    left: -10px;
    top: -10px;
    border-radius: 50%;
    z-index: -1;
    background: linear-gradient(#400080, transparent), linear-gradient(200deg, #1DB954, #1DB954, #1DB954);
    animation: spin 3s linear infinite;
    content: '';
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

.error {
    box-sizing: border-box;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: rgb(193 53 132) 50%/cover padding-box;
    color: white;
    text-align: center;
    line-height: 200px;
    position: relative;
}

.error:before {
    position: absolute;
    width: 220px;
    height: 220px;
    left: -10px;
    top: -10px;
    border-radius: 50%;
    z-index: -1;
    background: linear-gradient(#400080, transparent), linear-gradient(200deg, #F56040, #F56040, #F56040);
    animation: spin 3s linear infinite;
    content: '';
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}